[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/sdl2"]
	path = deps/sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/gleq"]
	path = deps/gleq
	url = https://github.com/glfw/gleq.git
